.logo {
  filter: invert(1);
}
.main-page-p {
  font-size: 0.75em;
}
.main-header {
  margin-bottom: 25px;
}

.image-wrapper {
  display: flex;
  justify-content: center;
  position: relative;
  overflow: hidden;
  max-height: calc(100vh - 150px);
}
.home-image {
  height: auto;
  margin: auto;
  max-height: calc(100vh - 150px);
  width: 100%;
  object-fit: cover;
}
